body {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label {
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
}

span {
  padding: 10px 0;
  display: block;
  color: crimson;
}

button {
  margin-top: 15px;
}